body{
    margin:0; 
    padding: 0;
    background-color:rgb(39, 39, 39);
}

#imgarea{
position:relative;

display:flex;
align-items:center;
justify-content:center;
}

#img_sec{

display:block;
padding:2% 0 0 0;
width:100%;

}

#gymtext{
position: absolute;
top:30%;
left:25%;
color:white;
font-weight: bold;
font-size: 40px;
background-color: rgba(48, 48, 48, 0.452);
padding: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h6{
    padding:0px;
    text-align:center;
    color: red;
    font-size: 40px;
    margin: 10px 0 ;
 
}

.main-nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    text-align:center;
    padding: 0;
    margin: 0;

}
.main-nav a {
  color: white;
  font-size: large;
  
  text-decoration: none;
  
}

.main-nav li{
  margin: 0 20px;
}