body {
  margin: 0;
  padding: 0;
  background-color: #111111;
  color: white;
  font-size: 20px;
}

#imgarea {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img_sec {
  display: block;
  padding: 7% 0 0 0;
  width: 100%;
  margin: 50px;
}

#gymtext {
  position: absolute;
  top: 20%;
  left: 25%;
  font-weight: bold;
  font-size: 40px;
  background-color: rgba(48, 48, 48, 0.452);
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h2,
h3 {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.programs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.card {
  background-color: #222;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  margin: 30px;
  padding: 10px;
  font-size: 14px;
  background-color: #212121;
  display: flex;
  justify-content: center;
}
